@font-face {
  font-family: 'dn';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/d300.woff') format('woff');
}
@font-face {
  font-family: 'dn';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/d500.woff') format('woff');
}
@font-face {
  font-family: 'dn';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/d700.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {font-family: dn, sans-serif; background-color: #4d4d4d; color:white;}

a {
    text-decoration: none;
    color:white;
}

a:hover {    color:#7DF9FF;}


h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

body>div {
    padding: 0;
}

.header {
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #444;
}

.sidebar .header {font-size:18px}

nav h1
{
    font-weight:700;
    font-size: 20px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight:300;
    line-height: 20px
}



.content {
    padding: 2em 1em 0;
    max-width:50em;
}

article>time {color:#C4C4C4;float:right;font-size:16px; margin:15px 0px 0px 20px}
article h2 { font-size:32px;  margin-bottom:10px; margin-top:0px; font-weight:500}
time, h2 {letter-spacing: -1px;word-spacing: 1px}
article h4 { font-weight: 100; font-size: 18px; font-style: italic; margin-top: 10px;}
article p {margin: 18px 0; font-size:18px; line-height:23px;}
article a { text-decoration:underline; }


p.view { text-align: center; margin-top: 30px }
p.view a {text-decoration:none}
p.view a:nth-child(2) {font-size:16px;}
p.view>a {font-size:18px; margin: 0px 10px 0px 10px}
p.view em a:hover {text-decoration: underline}
p.view a.inactive {pointer-events: none; cursor: default; color:#888;}
p.view em a {font-size:16px;}

article blockquote { font-style: italic; color:#ccc; border-left: 10px solid #444; padding-left:10px; margin: 15px 25px 15px 20px }

article ul { margin-left:0px;}
ul.post-list { list-style-type: none; line-height:20px; font-size:18px;}
ul.post-list time { margin-right:10px; color:#C4C4C4; font-style: italic; }
ul.exp {  list-style: none; width:35em }
ul.exp time { color:#C4C4C4; font-style: italic; margin-left: 20px;float:right}


@media (max-width: 47.99em) {
    nav {padding-left:1em}
    nav ul {display:inline-block; float:right; margin-top:10px}
    nav ul li {display:inline-block; margin:13px}
    nav ul li:nth-child(4) {display:none;}
    hgroup {display:inline-block}
    .header {display:block; margin:0px}
    nav .nav {display:inline-block;float:right}
}


@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 15em;
        margin-right:2em;
    }

    .header {
        margin: 3em 2em 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width:13em;
    }

    body {padding-right: 2em}
    
    hgroup {margin-bottom:60px}
    
    nav ul {font-weight:100}
}

@media (min-width: 70em) {

}
