body, html
{
    background-color: #aaa;
    color:white;
    margin:0px;
    padding:0px;
    height:100%;
    font-family:sans-serif
}

nav
{
    background-color: blue;
    width:290px;
    height:100%;
    float: left;
    margin:0px;
    padding:50px 0px 0px 10px;
    position: fixed;
    top: 0px;
    left: 0px;
}

nav>ul, nav>h1
{
    margin:0;
    list-style-type: none;
    font-size:16px;
    padding-left:40px;
    font-weight:100;
}

nav>ul>li
{
    margin-bottom:2px
}

nav>ul>li>a
{
    color:inherit;
    text-decoration: inherit;
}

nav>h1
{
    padding-bottom:50px
}