div.example {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1%;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 8vw;
    min-height: 50px;
    border: solid 1px grey;
    margin-bottom: 10px;
    -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
}
div.example div {
    width: 9%;
    background-color: grey;
}
div.example.e1 > div:nth-child(4) {
    background: green;
}
div.example.e2 > div:nth-child(even) {
    background: purple;
}
div.example.e2 > div:nth-child(odd) {
    border: solid 2px black
}
div.example.e3 > div:nth-child(3n) {
    border: solid 2px black
}
div.example.e3 > div:nth-child(3n+1) {
    background: orange;
}
div.example.e4 > div:nth-child(3n+4) {
    background: orange;
}
div.example.e5 > div:nth-child(n+3) {
    background: brown;
}
div.example.e5 > div:nth-child(-n+5) {
    border: solid 2px black;
}
div.example.e6 > div {
    width:10%;
    border: solid 1px white;
}
div.example.e6 {
    min-height:90px;
}
div.example.e6 > div:nth-last-child(-n+8):nth-child(4n+1) {
    background:deepskyblue;
}